* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 200;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg,rgba(247, 209, 189, 1) 0%, rgba(196, 204, 240, 1) 100%);
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 500px;
}